body{
    background-color: black;
}
.extra {
    border: solid rgb(0, 0, 0);
    display: block;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add box-shadow transition */
}

.extra:hover {
    transform: scale(1.3);  /* Slightly scale the element */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

.main-pic {
    border: solid rgb(0, 0, 0);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add box-shadow transition */
}

.main-pic:hover {
    transform: scale(1.3);  /* Slightly scale the element */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

#op{
    border:solid black;

}
.product-card ul {
    background-color: rgb(45, 45, 45);
    border:dotted lightgray;
}
.product-card ul li {
    color: #ffffff;
    margin: 0.5rem 0;
    font-size: 1rem;
    display: block;
}
.product-card ul h1{
    color: #ffffff;
}
.product-card {
    display: inline;

    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    gap: 1rem;
    /* background-color: rgb(0, 0, 0); */
}

.product-card img {
    width: 15%;
    height: auto;
    border-radius: 8px;
    object-fit:contain;
}


.product-card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card h3 {
    margin-top: 0;
    font-size: 1.2rem;
    display: none;
}

.product-card ul {
    list-style-type: none;
    padding: 0;
    margin: 1rem 0;
}


#images{
    display: flex;
    justify-content: center;
}
.product-card ul li {
    margin: 0.5rem 0;
    font-size: 1rem;
    display: block;
}

.product-card .price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
    margin: 1rem 0;
    
}

.product-card button {
    background-color: #c80000;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    width: fit-content;
    align-self: flex-start;
    margin: 10px;
}

.product-card button:hover {
    background-color: #ae9700;
}


.all h1{
    color: #000000;
}

#outOfstock{
    color: rgb(255, 255, 255);
    border: solid #c80000 ;
    background-color: #c80000;
    border-radius: 13px;
    font-size:medium;
    padding: 6px;
    display: none;
}

#inStock{
    font-size:medium;
    border: solid #387d16 ;
    background-color: #387d16;
    border-radius: 13px;
    font-size:medium;
    padding: 6px;
    display: none;


}
.product-card {
    background-color: #f4f4f4;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-card h5{
    
display: block;

}
